// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "summernote";

span#ingredients.form-group div.input-group, span#steps.form-group div.input-group,.note-frame {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 5px;
}

div.list-input-group {
 margin-bottom: 5px; 
}

span.remove-ingredient:hover,span.remove-step:hover {
  background: #f1948a;
  cursor:pointer;
}

label.standalone-label {
  margin-bottom: 0px;
}

textarea.step_input {
  height:120px;
}

div.destroy-btn-group {
float:right;
}

span.recipe-help-block {
  margin-left: -15px;
}

span.ingredient, div.step {
  margin-left: 10px;
}

span.ingredient {
  display: block;
  margin-top: 10px;
}

div.line_number {
  float:left
}

div.step {
  img {
    max-width: 100%;
    height: auto !important;
    display: block;
  }
}

.recipe-list {
  background-color: #EEE;
  overflow: auto;
  height: 160px;
  white-space:nowrap;
}

.recipe-block {
  height: 160px;
  width: 240px;
  margin-left: 12px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.recipes-bar {
  margin-top: 30px;
}

.no-recipe {
  background: #AAA;
}

img.recipe-block-image {
  width: 240px;
  height: 160px;
  position: absolute;
  z-index: 1000;
}

h4.recipe-block-title {
  position: absolute;
  z-index: 1001;
  background: black;
  opacity: 0.5;
  color: white; 
  white-space: pre-wrap;
  text-align: center;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%

}

img.recipe-head-block-image {
    max-width: 100%;
    height: auto !important;
    display: block;
    z-index:-1;
}    

div.recipe_head {
  display: block;
  overflow: auto;
  position: relative;
}

#recipe_head_title,#recipe_head_body {
  z-index: 1000;
  position: absolute;
}