// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "summernote";

span#ingredients.form-group div.input-group, span#steps.form-group div.input-group,.note-frame {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 5px;
}

div.list-input-group {
 margin-bottom: 5px; 
}

span.remove-ingredient:hover,span.remove-step:hover {
  background: #f1948a;
  cursor:pointer;
}

label.standalone-label {
  margin-bottom: 0px;
}

textarea.step_input {
  height:120px;
}

div.destroy-btn-group {
float:right;
}

span.recipe-help-block {
  margin-left: -15px;
}

span.ingredient, div.step {
  margin-left: 10px;
}

span.ingredient {
  display: block;
  margin-top: 10px;
}

div.line_number {
  float:left
}

div.step {
  img {
    max-width: 100%;
    height: auto !important;
    display: block;
  }
}

