// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span#ingredients.form-group div.input-group {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 5px;
}

span.remove-ingredient:hover {
  background: #f1948a;
  cursor:pointer;
}

label.standalone-label {
  margin-bottom: 0px;
}